{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Me</h1>

        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quisquam odio placeat, vel aut ducimus nostrum nihil dicta. Error voluptatem suscipit vitae voluptate dolor commodi recusandae non culpa est labore? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quisquam odio placeat, vel aut ducimus nostrum nihil dicta. Error voluptatem suscipit vitae voluptate dolor commodi recusandae non culpa est labore?</p>
        <hr>

        <div class="row">
            <div class="col-6">
                <img class="w-75 rounded pt-4 pb-5" src="../../static/img/me.png" alt="">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Contact Me</a>
                </p>
            </div>

            <div class="col-6">
                <h1 class="display-6">Background</h1>
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quisquam odio placeat, vel aut ducimus nostrum nihil dicta. Error voluptatem suscipit vitae voluptate dolor commodi recusandae non culpa est labore? Lorem, ipsum dolor sit amet consectetur adipisicing elit.Accusantium quisquam odio placeat, vel aut ducimus nostrum nihil dicta. Error voluptatem suscipit vitae voluptate dolor commodi recusandae non culpa est labore?</p>

                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quisquam odio placeat, vel aut ducimus nostrum nihil dicta. Error voluptatem suscipit vitae voluptate dolor commodi recusandae non culpa est labore? Lorem, ipsum dolor sit amet consectetur adipisicing elit.Accusantium quisquam odio placeat, vel aut ducimus nostrum nihil dicta. Error voluptatem suscipit vitae voluptate dolor commodi recusandae non culpa est labore?</p>
            </div>
        </div>

    </div>
</div>

{% endblock content %}