{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>About Me</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro totam molestiae magni repellendus quam quis nostrum exercitationem animi amet voluptates quas saepe, distinctio, incidunt expedita doloremque! Perspiciatis perferendis fuga, recusandae reiciendis ex commodi numquam incidunt animi laboriosam obcaecati dicta at libero officia culpa laborum in voluptates temporibus veritatis pariatur quia?</p>
</div>

{% endblock content %}